<div class="autoresize banner">
	<video style="width: 100%;" autoplay loop muted playsinline>
		<source src="/static/video/about.webm" type="video/webm">
	</video>
</div>
<div class="autoresize">
	<h2>About Me</h2>
</div>
<p>My name is Lucas, I am a 18 year old high school senior with a passion for anything computers. I enjoy programming, server administration, video games, and building/repairing electronics.</p>
<p>You can contact me through any of the following methods</p>
<table>
	<tr>
		<th class="contactMethod">Service</th>
		<th>Adress</th>
	</tr>
	<tr>
		<td>Signal Messenger (preferred)</td>
		<td><a href="https://signal.me/#eu/pPHCl_eedv9QsY7BBQsSA0oFYepTUDpyRW8XM06kMXDHRS6-LbVOEITFg5Lw008Q">@LucasVL.16</a></td>
	</tr>
	<tr>
		<td>Discord</td>
		<td><a href="https://discordapp.com/users/563812224402063360">lucas.vl</a></td>
	</tr>
	<tr>
		<td>eMail</td>
		<td><a href="mailto:lucas@lucasvl.nl">lucas@<wbr>lucasvl.nl</a></td>
	</tr>
	<tr>
		<td>GitHub</td>
		<td><a href="https://github.com/lucas-v-l/">lucas-v-l</a></td>
	</tr>
</table>
