<div class="autoresize banner">
	<video style="width: 100%;" autoplay loop muted playsinline>
		<source src="/static/video/lvlnl.webm" type="video/webm">
	</video>
</div>
<div class="autoresize">
	<h2>Welcome to LucasVL.NL!</h2>
</div>
<p>This is the personal website of LucasVL. Here I host my personal projects, blog posts, and other cool stuff! The stylised version of this page is best viewed with javascript enabled, however it is all viewable without it enabled (you just may run into some cursor alignment issues). The source code to this site is available at <a href="https://git.lucasvl.nl/LucasVL/lucasvl.nl">My Git Server</a> as it is written using Flask, otherwise it would quickly become a complicated mess to maintain :).</p>
<p>To Firefox and mobile users: I have done my absolute best to make the stylised version of this page work on your systems, however some effects have been disabled due to horrible performance issues with the displacementmap SVG filter (see <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1879590">Here</a>). For some reason Safari on mobile works fine, but not on MacOS. Please use the <a href="/plain">plain</a> version of the page if you are on MacOS</p>
<p>The following links are some pages which are hosted on this site, either for personal use, or for friends and family. Feel free to contact me using a method listed in the about page if you would like an account :)
<ul>
	<li><a href="/404.html">LucasVL's Collection of Tools (Coming Soon!)</a></li>
	<li><a href="https://git.lucasvl.nl/">Gitea</a></li>
	<li><a href="/404.html">Radio (Coming Soon!)</a></li>
</ul>
</p>
<p>This site is hosted on a home server running the latest stable Alpine Linux updated weekly. I use Cloudflare to mitigate the possibility of (D)DOS attacks. It's a rather simple setup, but it works for me.</p>

<div class="autoresize">
	<a href="https://www.gnu.org/fun/jokes/ed-msg.en.html"><img class="button" src="/static/img/buttons/vim.gif"></a>
	<a href="https://www.ebay.com/usr/lucasvanl"><img class="button" src="/static/img/buttons/ebay3.gif"></a>
	<a href="https://int10h.org/oldschool-pc-fonts/fontlist/font?toshibasat_8x16"><img class="button" src="/static/img/buttons/int10h-button.webp"></a>
	<a href="https://www.alpinelinux.org/"><img class="button" src="/static/img/buttons/linux_powered.gif"></a>
	<a href="https://arstechnica.com/civis/threads/hd-screens-sucks-for-pc-where-is-4-3.1135861/"><img class="button" src="/static/img/buttons/4x3_fade.gif"></a>
	<a href="https://caniuse.com/?cats=CSS&statuses=other,unoff"><img class="button" src="/static/img/buttons/cssdif.gif"></a>
	<a href="https://en.wikipedia.org/wiki/Embrace,_extend,_and_extinguish"><img class="button" src="/static/img/buttons/hatems.gif"></a>
	<a href="https://how-i-experience-web-today.com/"><img class="button" src="/static/img/buttons/sanehtml.gif"></a>
	<a href="https://geti2p.net/"><img class="button" src="/static/img/buttons/i2p.gif"></a>
	<a href="https://internet.nl/site/lucasvl.nl/2680025/"><img class="button" src="/static/img/buttons/secure.svg" height=31></a>
</div>
