<div class="autoresize banner">
	<img src="/static/img/Computer.jpeg"/>
</div>
This is my computer that I built for under $500!<br>
The specs are as follows:
<ul>
	<li>GPU: AMD RX580</li>
	<li>CPU: AMD Ryzen 3700X</li>
	<li>RAM: 32GB DDR4-3200</li>
	<li>Storage:
		<ul>
			<li>4 Hard drives pulled from old computers configured in a RAID array for a total of ~6TB</li>
			<li>2TB NVME SSD</li>
			<li>CD/DVD RW Combo Drive</li>
		</ul>
	</li>
	<li>Motherboard: MSI B350M-BAZOOKA</li>
</ul>
<div class="autoresize banner">
	<img src="/static/img/Computer-Inside.jpeg"/>
</div>
<div class="autoresize banner">
	<img src="/static/img/Computer-Unfinished.jpeg"/>
</div>
<div class="autoresize banner">
        <img src="/static/img/Computer-Unfinished-2.jpeg"/>
</div>
<div class="autoresize banner">
        <img src="/static/img/fastfetch.png"/>
</div>
