<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="darkreader-lock">
    <title>LucasVL.nl</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <script src="/static/prefixfree.min.js"></script>
  </head>
  <body>
	<div id="clickblocker" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000;"></div>
	<img id="border" src="/static/img/screen_border_3.avif" onerror="this.onerror=null;this.src='/static/img/screen_border_3.webp';">
	<div id="stickynote"><div onclick="enterPage()" style="cursor: pointer; margin: 0 10px 10px 10px; float: right; background-image: url('/static/img/close.svg'); width: 25px; height: 25px; background-size: 100% 100%;"></div>This is a highly stylised website and may be difficult to read. For a more plain version of this website, please click <a style="color: blue;" href="/plain">here</a>. If you wish to continue, press the X on this note to turn on the monitor. The non plain site is more of an experiment, and can be rather resource intensive despite my optimization attempts. You have been warned. Best viewed on chromium based browsers.</div>
	<style id="jsstyles"></style>
	<svg 	class="svgfilter"
		preserveAspectRatio="none"
		xmlns="http://www.w3.org/2000/svg">
		<filter id="trilight" x="0%" y="0%" width="100%" height="100%">
			<feImage xlink:href="/static/img/displacement.png" result="lightMap" x="0%" y="0%" preserveAspectRatio="none" width="100%" height="100%"/>
			<feDisplacementMap in2="lightMap" in="SourceGraphic" xChannelSelector="R" yChannelSelector="G" scale="50">
			</feDisplacementMap>
		</filter>
	</svg>
	<div id="distort"><div id="scrollbox" onmousemove="mouse(event)" onmouseup="mouse(event)">
		<input type="radio" class="navbuttons radio" id="home" name="pages" value="home" checked/><label for="home" class="navbuttons">Home</label>
		<input type="radio" class="navbuttons radio" id="about" name="pages" value="about"/><label for="about" class="navbuttons">About</label>
		<input type="radio" class="navbuttons radio" id="radiopg" name="pages" value="radiopg"/><label for="radiopg" class="navbuttons">Radio</label>
		<input type="radio" class="navbuttons radio" id="projects" name="pages" value="projects"/><label for="projects" class="navbuttons">Projects</label>
		<div id="pages">
			<div class="spacer spacer1" style="visibility: hidden;"><br><span>Home</span> <span>About</span> <span>Radio</span> <span>Projects</span></div>
			<div class="page" onscroll="scrollToNearestTextSize(this)" id="homepage">{{ homepage | safe }}<div class="pagespacer"></div></div>
			<div class="page" onscroll="scrollToNearestTextSize(this)" id="aboutpage">{{ aboutpage | safe }}<div class="pagespacer"></div></div>
			<div class="page" onscroll="scrollToNearestTextSize(this)" id="radiopage">{{ radiopage | safe }}</div>
			<div class="page" onscroll="scrollToNearestTextSize(this)" id="projectspage">
				<!-- to anybody using view source: the code in this part is quite frankly horrifying. dont worry, the repetitiveness is because it was generated by a machine. the chunks it repeats tho are 100% my doing (in collaboration with stackOverflow questions from 2011), i am terribly sorry. -->
				{% for project in projects %}
					<style>
						#ID__{{ re.sub(valid_ID, '', project[:-5]).replace(' ', '_') }}:checked ~ #ID__{{ re.sub(valid_ID, '', project[:-5]).replace(' ', '_') }}-page {
							display: block !important;
						}
					</style>
					<input type="radio" name="projects" id="ID__{{ re.sub(valid_ID, '', project[:-5]).replace(' ', '_') }}" class="radio" {% if loop.index == 1 %}checked{% endif %}/>
					<label for="ID__{{ re.sub(valid_ID, '', project[:-5]).replace(' ', '_') }}" class="ID__{{ re.sub(valid_ID, '', project[:-5]).replace(' ', '_') }} projectselector autoresize"><div class="outermarquee"><div>{{ project[:-5] }}</div></div></label><br><br><div></div>
				{% endfor %}
				{% for project in projects %}
					<div id="ID__{{ re.sub(valid_ID, '', project[:-5]).replace(' ', '_') }}-page" class="projectspage-page">
						<div onscroll="scrollToNearestTextSize(this)">
							{{ render_template("pages/projects/" + project) | safe }}
							<div class="pagespacer"></div>
						</div>
					</div>
				{% endfor %}
				<br>
			<div class="pagespacer"></div></div>
			<div class="spacer spacer2"><br></div>
		</div>
	</div>
	
	<div id="screensaver">
		<img id="logo" src="/static/img/LVL_logo.svg">
		<div id="cornerhitcounter">
			<span>Corner hits:</span> 
			<div id="numbers1">0<br>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9</div>
			<div id="numbers2">0<br>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9</div>
			<div id="numbers3">0<br>1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9</div>
		</div>
	</div>

	<div id="bootscreen">
		<div id="boot-frame-1">
			<div id="bootimgs">
			<img src="/static/img/international_microfads.webp" id="logo">
			<img src="/static/img/voidstar.webp" id="energy">
			</div>
			<p>InterBIOS Version 6.9 Revision 420 International Microfads, Inc.</p>
			<p>Copyright 2069 LucasVL Corp. All Rights Reserved</p>
			<p>CPU: 3,000 Crabs @ 0.1Hz</p>
			<p>Total Memory: 69420KB (DDR42-2100)</p>
			<p>Detected Boot Devices...<br>
			IDE0: HeadCrash Labs Data Corruptor 21GB<br>
			CD0: Awesome Mix 1998</p>
			<p>Booting IDE0...</p>
		</div>
		<div id="boot-frame-2"></div>
		<div id="boot-frame-3">
			<div class="imgcontainer"><img src="/static/img/beans.jpg"><img src="/static/img/beans.jpg"><img src="/static/img/beans.jpg"><img src="/static/img/beans.jpg"><img src="/static/img/beans.jpg"></div>
			<p>Booting LVOS 8.67-rc5309</p>
			<p>[ OK ] Waking up crabs (3000/3000)</p>
			<p>[ OK ] Initialising flux capacitor</p>
			<p>[ OK ] Taking my lunch break</p>
			<p>[ INFO ] Overclocking Pentium 4 to 5GHz</p> <!-- https://www.youtube.com/watch?v=z0jQZxH7NgM -->
			<p>[ WARNING ] System may be on fire</p>
			<p>[ INFO ] is is 2024 or 1924&#63;</p>
			<p>[ OK ] Something about FUSE</p>
			<p>[ INFO ] Flipping 5 random bits on the HDD</p>
			<p>[ OK ] Closing cupholder</p>
			<p>[ OK ] Re-enabling spacebar heating (DEPRECATED)</p> <!-- https://xkcd.com/1172 :) -->
			<p>[ OK ] Applying static electricity to sensitive components</p>
			<p>[ OK ] Enabling Rockwell Retro Encabulator</p>
			<p>[ OK ] Resizing HDD0 from 2.5 in to 3.5 in</p>
			<p>[ WARNING ] The crabs are organising a coup</p>
			<p>[ ERROR ] Index 69 out of bounds for array of length -3</p>
			<p>[ OK ] I'm running out of ideas for what to put here</p>
			<p>[ OK ] Refusing to load WiFi driver for no reason.</p>
			<p>[ OK ] Preheating user interface</p>
			<p>[ OK ] Adjusting air fuel mixture for cold weather</p>
			<p>[ OK ] Attempting to start user interface</p>
		</div>
		<div id="boot-frame-4"></div>
	</div>

	<div id="mouse">&nbsp</div>
	<div id="displayscreen"></div>
	<script>
		var content = document.getElementById("scrollbox");
		var pages = document.getElementById("homepage");
		document.getElementById("jsstyles").innerHTML = '#scrollbox, #scrollbox * {cursor: none;}\n* {animation-play-state: paused;}';
		var vMouse = document.getElementById("mouse");
		var leftOffset, topOffset, ht, wt, fontSize;
		function changeOffsetAndBBox() {
			var temp = document.createElement(content.nodeName);
			temp.setAttribute("style", "margin:0; padding:0; font-family: inherit; font-size: inherit; position: absolute; white-space: nowrap;");
			// do this BS to make it more precise, larger sample size or some fancy terms like that.
			var text = "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA";
			temp.innerHTML = text;
			content.parentNode.appendChild(temp);
			wt = parseFloat(temp.getBoundingClientRect()["width"])/parseFloat(text.length);
			text = "<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>"
			temp.innerHTML = text;
			ht = parseFloat(temp.getBoundingClientRect()["height"])/(parseFloat(text.length)/4);
			fontSize = parseFloat(window.getComputedStyle(temp, null).getPropertyValue('font-size'));
			temp.parentNode.removeChild(temp);
			
			var pageheight = document.getElementById('pages').getBoundingClientRect()["height"]

			document.querySelectorAll('.pagespacer').forEach(item => {
				item.style.height = ht - ((parseInt(pageheight/ht)*ht + ht) - pageheight) + "px";
			});

			document.documentElement.style.setProperty('--lineHeight', ht + "px");

			vMouse.style.left = "-100%";
			vMouse.style.top = "-100%";

			leftOffset = content.getBoundingClientRect()["left"] + parseFloat(window.getComputedStyle(content, null).getPropertyValue('border-left'));
			topOffset = content.getBoundingClientRect()["top"] + parseFloat(window.getComputedStyle(content, null).getPropertyValue('border-top'));

			document.querySelectorAll('.autoresize').forEach(item => {
				var itemHeight = parseFloat(item.getBoundingClientRect()["height"]);
				var itemWidth = parseFloat(item.getBoundingClientRect()["width"]);
				item.style.marginBottom = (parseInt(itemHeight / ht)*ht - itemHeight + ht) + "px";
			});
		}

		function mouse(event) {
			vMouse.style.top = ((parseInt((event.pageY - topOffset) / ht) * ht) + topOffset) + "px";
			vMouse.style.left = ((parseInt((event.pageX - leftOffset) / wt) * wt) + leftOffset) + "px";
		};

		function mouseBlink() {
			vMouse.classList.add("blink");
		}
		function stopMouseBlink() {
                        vMouse.classList.remove("blink");
                }

		document.querySelectorAll('.navbuttons, a, input, button, select, textarea, label, .blinkCursor').forEach(item => {
			item.onmouseover = mouseBlink;
			item.onmouseout = stopMouseBlink;
		});

		document.querySelectorAll('.page').forEach(item => { item.onmouseover = runOnLoadAndResize });

		document.getElementById("displayscreen").style.visibility = "hidden";
		document.getElementById("clickblocker").style.display = "block";
		document.querySelectorAll('*').forEach(item => {
			item.style.animationPlayState = "paused";
		});

		var note = document.getElementById("stickynote");

		function enterPage() {
			note.classList.add("tearAway");
			document.querySelectorAll('*').forEach(item => {
                        	item.style.animationPlayState = "";
                	});
			document.getElementById("clickblocker").style.display = "none";
			document.getElementById("displayscreen").style.visibility = "visible";
		}

		note.style.backgroundImage = "url('/static/img/stickynote.webp')"; note.style.backgroundSize = "100% 100%";
		note.style.display = "block";

		function scrollToNearestTextSize(ele) {
			if(!parseInt(window.getComputedStyle(vMouse).getPropertyValue("--isTouchScreen"))) {
				vMouse.style.left = "-100%";
				vMouse.style.top = "-100%";
				setTimeout(function(){
					ele.scrollTop = parseInt((ele.scrollTop / ht) + 0.5) * ht;	
				}, 500);
			}
		}

		function runOnLoadAndResize() {
			changeOffsetAndBBox();
			var projectsPage = document.getElementById("projectspage");
			projectsPage.style.display = "block";
		
			document.querySelectorAll(".outermarquee").forEach(item => {
				var innerdiv = item.getElementsByTagName("div")[0];
				var length = innerdiv.innerHTML.length;
				var paddingLeft = parseFloat(window.getComputedStyle(item).getPropertyValue("padding-left"));
				var paddingRight = parseFloat(window.getComputedStyle(item).getPropertyValue("padding-right"));
				if(item.clientWidth - paddingLeft - paddingRight < innerdiv.scrollWidth) {
					innerdiv.classList.add("marquee");
					innerdiv.style.animationDuration = (length / 3) + "s";
				}
				else {
					innerdiv.classList.remove("marquee");
				}
			});
/*
			document.querySelectorAll('.projectspage-page')[0].style.display = "block";
			var pageheight = document.querySelectorAll('.projectspage-page > div')[0].getBoundingClientRect()["height"]
			document.querySelectorAll('.projectspage-page .pagespacer').forEach(item => {
				item.style.height = ht - ((parseInt(pageheight/ht)*ht + ht) - pageheight) + "px";
			});
			document.querySelectorAll('.projectspage-page')[0].style.display = "";
*/
			projectsPage.style.display = "";
		}

		window.onresize = runOnLoadAndResize;
		window.onload = runOnLoadAndResize;
	</script>
	</div>
  </body>
</html>
